<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
<!--    <meta http-equiv="refresh" content="5">-->
    <title>{% block title %}Задачи{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" href="{% static 'css/chats.css'%}" rel="stylesheet">
</head>
<body style="margin: 1%; padding:1%">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {% if request.user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'main' %}">Задачи</a>
        <a class="navbar-brand" href="{% url 'chats' %}">Чаты</a>
        <a class="navbar-brand" href="{% url 'profile' %}">Профиль</a>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <div class="d-flex">
                {% if request.user.is_authenticated %}
                <input id='username' class="form-control me-2" value="{{ request.user }}" readonly>
                <a href="{% url 'logout' %}" class="btn btn-outline-success" type="submit">Выход</a>
                {% else %}
                <form method="post" action="{% url 'login_user' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ login_form.email }}
                        {{ login_form.password }}
                        <button name="login" class="btn btn-outline-success" type="submit">Вход</button>
                        <a href="{% url 'register' %}" class="btn btn-outline-success">Регистрация</a>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</nav><br>

    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js'%}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript" src="{% static 'js/socketio.js'%}"></script>


</body>
</html>

