{% extends 'base.html' %}
{% load static %}
{% block title %}Чаты{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% if request.user.is_authenticated %}
<div class="container">

    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row gutters">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="card m-0">

                    <!-- Row start -->
                    <div class="row no-gutters">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                            <div class="users-container">
                                <ul class="users">
                                    <li class="person" data-chat="person1">
                                        <div class="user">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar1.png" alt="Retail Admin">
                                        </div>
                                        <p class="name-time">
                                            <span class="name">User 1</span>
                                        </p>
                                    </li>
                                    <li class="person" data-chat="person2">
                                        <div class="user">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar2.png" alt="Retail Admin">
                                        </div>
                                        <p class="name-time">
                                            <span class="name">User 2</span>
                                        </p>
                                    </li>
                                    <li class="person" data-chat="person3">
                                        <div class="user">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                        </div>
                                        <p class="name-time">
                                            <span class="name">User 3</span>
                                        </p>
                                    </li>
                                    <li class="person" data-chat="person4">
                                        <div class="user">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar4.png" alt="Retail Admin">
                                        </div>
                                        <p class="name-time">
                                            <span class="name">User 4</span>
                                        </p>
                                    </li>
                                    <li class="person" data-chat="person5">
                                        <div class="user">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar5.png" alt="Retail Admin">
                                        </div>
                                        <p class="name-time">
                                            <span class="name">User 5</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                            <div class="selected-user">
                                <span class="name">Общий чат</span>
                            </div>
                            <div class="chat-container">
                                <ul id="chat-id" class="chat-box">
                                    {% for chat_message in chat_messages %}
                                        {% if chat_message.author_id == request.user.pk %}
                                            <li class="chat-right">
                                                <div class="chat-hour">08:56</div>
                                                <div class="chat-text">{{ chat_message.message }}</div>
                                                <div class="chat-avatar">
                                                    <img src="https://www.bootdey.com/img/Content/avatar/avatar4.png" alt="Retail Admin">
                                                    <div class="chat-name">{{ chat_message.author }}</div>
                                                </div>
                                            </li>
                                        {% else %}
                                            <li class="chat-left">
                                                <div class="chat-avatar">
                                                    <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                                    <div class="chat-name">{{ chat_message.author }}</div>
                                                </div>
                                                <div class="chat-text">{{ chat_message.message }}</div>
                                                <div class="chat-hour">08:55</div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                    <div class="form-group mt-3 mb-0 row">
                                        <textarea id='message-text' class="form-control" rows="2" placeholder="Введите текст"></textarea>
                                        <input type="button" id="send-message" class="btn btn-success" value="Отправить">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->
                </div>

            </div>

        </div>
        <!-- Row end -->

    </div>
    <!-- Content wrapper end -->

</div>

{% endif %}
{% endblock %}